@tailwind base;
@tailwind components;
@tailwind utilities;


/* Body styling */
html {
    min-height: 100%;
}
body {
    background-color: #1A2030!important;
    min-height: 100%;
}

#root {
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

a {
    display: inline-block!important;
}

.App {
    height: 100%;
}
/* Body styling */


/* navbar styling */
.menu a {
    /* py-4 px-7 cursor-pointer relative before:absolute before:-bottom-1 before:left-0 before:w-0 hover:before:w-full before:h-1 before:bg-[#9CA7CB] before:transition-all before:duration-1000 transition-all duration-1000" */
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 25px;
    position: relative;
    color: #28324A!important;
    transition: 1s
}

.menu a:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color:#9CA7CB;
    transition: 1s;
}

.menu a:hover:before {
    width: 100%;
}

.menu a:hover {
    color: white!important;
}

.menu a.active {
    color: white!important;
}

.menu a.active:before {
    width: 100%;
}

.menu .ant-menu-horizontal > .ant-menu-item a:hover {
    color: #E4B233!important;
}


/* navbar styling */


/* card styling */
.ant-card.movie-card {
    border-radius: 0.7rem;
    background: transparent;
    overflow: hidden;
}

.ant-card-cover {
    height: 600px;
}

.ant-card-body {
    flex-basis: 30%;
    height: 30%;
    padding: 24px 0 !important;
}


.movie-card-detail .ant-card-body {
    display: none!important;
}

/* card styling */


/*  form styling */
.ant-form-item-explain-error {
    margin-top: 0.6rem;
    font-size: 16px;
    transition: 0.7s;
}

.ant-form-item-feedback-icon-success,
.ant-form-item-feedback-icon.ant-form-item-feedback-icon-error {
    display: flex;
}

/*  form styling */


/* tabs styling */
.tabs-cinema-movies .ant-tabs-tab-btn {
    color: #28324A!important;
}

.tabs-cinema-movies .ant-tabs-left > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane,
.tabs-cinema-movies .ant-tabs-left > div > .ant-tabs-content-holder > .ant-tabs-content > .ant-tabs-tabpane {
    padding-left: 0px!important;
}

.tabs-cinema-movies .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff!important;
}

.tabs-cinema-movies .ant-tabs-ink-bar {
    background: #9CA7CB!important;
    width: 4px!important;
    border-radius: 10px!important;
    transition: all 0.5s!important;
}

.tabs-cinema-movies .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
    border-right: 1.5px solid #28324A;
}

a.link {
    color: unset;
}

/* tabs styling */

/* tabs cinema branch styling */
.tabs__cinema-branch .ant-tabs-nav {
    width: 350px;
}
/* tabs cinema branch styling */

/* tabs movie item styling */
.movie:not(:last-child){
    border-bottom: 1px solid white!important;
}
/* tabs movie item styling */


/* tabs in profile page */
.profile .ant-tabs-ink-bar {
    background: #9CA7CB!important;
    height:5px!important;
    border-radius: 10px!important;
}

.profile .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .profile .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    border-bottom: 1.5px solid #28324A!important;
}

.profile .ant-tabs-tab-btn {
    color: white!important;
    font-size: 25px;
}

/* tabs in profile page */

/* booking history table */
.bookingHistoryTable .ant-table-thead th.ant-table-cell {
    font-size: 18px;
    font-weight: bold;
    color: #28324A;
    text-align: center;
    vertical-align: middle;
}

.bookingHistoryTable .ant-pagination li:not(:last-child) {
    margin-right: 15px;
}

.bookingHistoryTable .ant-pagination li {
    background-color: #fff!important;
}

.bookingHistoryTable .ant-pagination li button.ant-pagination-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingHistoryTable .ant-pagination-item {
    /* background-color: #fff!important; */
    color: #28324A;
}
/* booking history table */


/* carousel homepage */
.banner .ant-carousel {
    height: 100%;
    width: 100%;
}

.banner .ant-carousel .slick-list {
    width: 100%;
    height: 100%;
}

.banner .swiper-button-next, .banner .swiper-button-prev {
    --swiper-theme-color: #9e9e9e;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 95px;
    width: 70px;
    transition: 0.8s;
}

.banner .swiper-button-next:after, .banner .swiper-button-prev:after {
    font-size: 35px;
    font-weight: 900;
}

.banner .swiper-button-next:hover, .banner .swiper-button-prev:hover {
    --swiper-theme-color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
}

.banner .swiper-button-prev, .banner .swiper-rtl .swiper-button-next {
    left: 25px;
}

.banner .swiper-button-next, .banner .swiper-rtl .swiper-button-prev {
    right: 25px;
}
/* carousel homepage */


.movie-schedule .ant-collapse-header-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-schedule .ant-collapse {
    margin-bottom: 20px!important;
}